.\@Title{
  text-align: center;

  > *{
    display: block;
    @include text-crop;
  }

  + *{
    @include mq-pc{
      margin-top: 35px;
    }

    @include mq-sp{
      margin-top: vw(21);
    }
  }

  &.-reversal{
    color: red;
  }
}

.\@Title__english{
  font-weight: 400;

  @include mq-pc{
    @include fontsize(34);

    + *{
      margin-top: 13px;
    }
  }

  @include mq-sp{
    font-size: vw(24);

    + *{
      margin-top: vw(8);
    }
  }
}

.\@Title__japanese{
  font-weight: 300;

  @include mq-pc{
    @include fontsize(16);
  }

  @include mq-sp{
    font-size: vw(12);
  }
}
