//画像の幅
$thumb-w: 188px; //画像マージン
$thumb-ml: 10px; //画像の数
$thumb-length: 10;
@keyframes thumb-loop {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes thumb-loop-reverse {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.RestaurantCafe {
  padding: 11px;

  & + * {
    @include mq-pc{
      margin-top: 129px;
    }

    @include mq-sp{
      margin-top: 0;
    }
  }
}

.RestaurantCafe__background {
  overflow: hidden;
  padding: 47px 0 34.5px;
  background: $color-main;
  @include mq-sp {
    position: relative;
    padding: vw(120) 0 vw(26);
  }

  & > *:first-child {
    @include mq-sp {
      margin-top: 0;
    }
  }
}

.RestaurantCafe__thumbnailWrap {
  display: flex;
  overflow: hidden;
  margin: 20px auto 0;
  // width: 100%;
  width: ($thumb-w * $thumb-length + $thumb-ml * $thumb-length);
  @include mq-sp {
    margin: vw(11) 0 0;
    width: 500%;
  }

  &.-spItem {
    position: absolute;
    top: vw(5);
    right: 0;
    @include mq-pc {
      display: none;
    }
  }
}

.RestaurantCafe__thumbnail {
  display: flex;
  width: $thumb-w * $thumb-length + $thumb-ml * $thumb-length;
  -webkit-animation: thumb-loop 60s linear infinite;
  animation: thumb-loop 60s linear infinite;
  will-change: animation, transform, opacity;
  @include mq-sp {
    width: 100%;
    margin: vw(8) 0;
  }

  .-spItem & {
    @include mq-sp {
      -webkit-animation: thumb-loop-reverse 60s linear infinite;
      animation: thumb-loop-reverse 60s linear infinite;
    }
  }
}

.RestaurantCafe__thumbnailItem {
  margin-right: $thumb-ml;
  width: $thumb-w;
  @include mq-sp {
    width: 25%;
    margin: 0;
    padding-right: vw(3);
  }
}

.RestaurantCafe__text {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  @include text-crop;
}

.RestaurantCafe__button {
  margin-top: 34.5px;
  text-align: center;
}

.RestaurantCafe__text {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  @include text-crop;
  @include mq-sp {
    margin-top: vw(15);
    @include fontsize(12);
  }
}

.RestaurantCafe__button {
  margin-top: 34.5px;
  @include mq-sp {
    margin-top: vw(15);
  }
}
